$green: #18ad00;
$font: #3c4557;
$border: #e5e5e5;


body {min-width: 1280px;}
.main {padding-top: 10px;}
.global-wrapper {position: relative; min-width: 1300px;}
.btn {display: block; width: 320px; padding: 20px 0; margin: 20px auto; font-size: 1.25rem; font-weight: 300; color: #fff; text-decoration: none; text-align: center; letter-spacing: .4px;
  &--green {background-color: #1a9900;}
  &--grey {background-color: $font;}
  &--lightgrey {border-right: 20px solid #e6e7e8; color: $font;}
  &--blue {border-right: 20px solid #65b8de; color: $font;}
  &--middle {margin: 60px auto 100px;}
  &--retrip {letter-spacing: 2.5px; border-right: 20px solid #1a9900; color: $font;}
  &--right {text-align: right; padding-right: 20px;}
}
a.btn {transition: all 300ms ease;}
a.btn:hover {opacity: .8;}
.cooperation {color: $font; text-align: center; font-size: 1.25rem; display: block; transition: all 300ms ease;}
.cooperation:hover {text-decoration: none;}

.input-hidden {position: absolute; top: 0; left: 0; opacity: 0; pointer-events: none;}
.main.active {padding-top: 150px;}
.header {display: flex; justify-content: space-between; align-items: center; position: relative; z-index: 20; background: transparent;
  &--fixed {max-width: 1282px;width: 100%;position: fixed;z-index: 100;background: #fff;left: 50%;transform: translateX(-50%); border-bottom: 1px solid $border; animation-name: header; animation-duration: 300ms;
    .header__logo { padding: 17px 65px 17px 0; position: relative;
      svg {width: 94px; height: 64px;}
    }
    .header__nav {padding: 0;
      &-list {font-size: 1rem; padding: 41px 37px; border-bottom: 3px solid transparent; transition: background 300ms ease;}
      &-list:hover {background-color: #f3faf2; color: $font; border-bottom: 3px solid #1a9900;}
    }
    .header__phone {padding: 0 0 0 65px; text-decoration: none; color: $green; position: relative;}
  }
  &__logo {padding: 30px 40px;
    svg {width: 113px; height: 77px;}
  }
  &__nav {display: flex; justify-content: space-between; max-width: 1280px; width: 100%; margin: 0 auto; padding: 10px 0;}
  &__nav-list {font-size: 1.25rem; font-weight: 300; letter-spacing: 4px; text-decoration: none; color: #000; display: block; padding: 50px 0;}
  &__nav-list:hover {color: $green;}
  &__phone {padding: 0 40px; color: $green; font-size: 1.875rem; font-weight: bold; letter-spacing: .75px; text-align: right; text-decoration: none;}
}
@keyframes header {
  from {top: -100px;}
  to {top: 0;}
}
.section { position: relative;
  &__content-decor {background-color: #e8f5e5; position: absolute; height: 210px; width: 100%; z-index: 2; opacity: .5;
    &-wrap {max-width: 1280px; margin: 0 auto; position: relative; bottom: 0;}
    &-1 {right: 959px;bottom: -55px;}
    &-2 {left: 1280px; top: 205px;}
    &-3 {left: 1280px; top: 430px;}
  }
  &__back {position: absolute; z-index: 1; top: -150px; width: 100%;
    &--img {background: url("../images/mainback.jpg") center center no-repeat; height: 900px;}
    &--grey {background: #f9f9f9; top: 0; height: 100%;}
  }
  &__decor-wrap {position: absolute; z-index: 10; top: 0; width: 100%; height: 100%; pointer-events: none;}
  &__decor {position: relative; width: 100%; max-width: 1280px; height: 100%; display: flex; justify-content: space-between; margin: 0 auto;
    &-horizon.active {position: fixed; height: 102px; width: 100%; background: #fff; border-bottom: 1px solid $border; animation-name: header; animation-duration: 300ms;}
    &-line {width: 1px; height: 100%; background-color: $border;}
  }
  &__row {display: flex; justify-content: space-between; align-items: flex-end;}
  &__col {width: 320px;
    &-big {margin-bottom: 78px;
      div {font-size: 5.25rem; margin: 0; font-weight: 100; text-transform: uppercase; letter-spacing: 4.2px; white-space: nowrap; line-height: 1.2;
        span {font-weight: 700; color: $green; display: inline-block;}
      }
      div:last-child {letter-spacing: 12.5px;
        span {margin-left: -2px;}
      }
    }
    &-desc {font-size: 1.125rem; line-height: 1.2; letter-spacing: 0.45px; font-weight: 300; padding: 0 9px 0 27px; border-left: 5px solid #18ad00; margin-bottom: 100px;}
    &--center {align-self: center; padding-bottom: 130px;}
    &--padding {padding-bottom: 150px;}
  }
  &__col-img {width: 100%; padding-bottom: 80px;
    img {display: block; margin: 0 auto;}
  }
  &__title {text-align: center; font-size: 3.125rem; font-weight: 700; line-height: 2; letter-spacing: 2px; margin: 0; padding: 50px 0 10px;}
  &__map {width: 699px; margin-right: 60px; padding-bottom: 60px;
    path.active-blue.active {fill: #007599 !important; transition: all 300ms ease;}
    path.active-green.active {fill: #114c02 !important; transition: all 300ms ease;}
    .country {pointer-events: none;}
  }
  &--overflow {overflow: hidden;}
}
.personal {padding: 0 30px 45px; text-align: center; font-weight: 300; position: relative; z-index: 20;
  &__back {background: url("../images/about-back.jpg") no-repeat; position: absolute; z-index: 1; width: 318px; height: 801px; top: 55px; }
  &__wrap {margin-left: 1px; height: 686px; display: flex;flex-direction: column;}
  &__photo img {display: block; margin: 0 auto;}
  &__name {font-size: 1.5rem; text-transform: uppercase; letter-spacing: 2.4px; padding: 15px 0 8px;}
  &__info {font-size: .937rem; line-height: 1.25}
}
.achiev { padding: 0 30px 20px; display: flex; flex-direction: column;
  align-items: center; justify-content: center; text-align: center;
  &__wrap {height: 686px; display: flex; flex-direction: column;}
  &__photo {
    img {display: block;}
  }
  &__name {height: 38px; font-size: 1.125rem; font-weight: 300; letter-spacing: .9px; }
  &__number {font-size: 4.68rem; font-weight: 700; color: $green;}
}
.partner {
  &__wrap {display: flex; flex-wrap: wrap; border-top: 1px solid $border; border-right: 1px solid $border; margin: 32px 0;}
  &__box {width: 50%; display: flex; flex-direction: column; text-align: center; background: #fff; border: 1px solid $border; border-top: none; border-right: 0;
    &--max {width: 100%;
      .partner__title {padding: 40px 0 20px;}
      .partner__list {padding: 0 0 40px 0;}
      .partner__logo {width: 10%;}
    }
  }
  &__title {font-size: 1.5rem; font-weight: 300; letter-spacing: 2.4px; color: $font; text-transform: uppercase; padding: 40px 0;}
  &__list {display: flex; justify-content: space-between; align-items: center; padding: 0 20px 30px; height: 100%; position: relative;
    &--double { flex-wrap: wrap; padding: 0;
      .partner__logo {width: 20%; padding: 0 0 34px;}
    }
  }
  &__sponsor {padding: 0 45px; height: auto;
    .partner__logo {width: 125px;}
  }
  &__logo {
    svg {fill: #76c266;}
    svg:hover {fill: #000;}
  }
  a svg {cursor: pointer;}
}

.blog {display: flex; justify-content: space-between; padding: 55px 0;
  &__box {width: 22.7%; text-decoration: none;}
  &__box:hover .blog__desc-title {color: $green;}
  &__desc {padding: 16px 15px; color: $font; border: 1px solid $border; border-top: none; line-height: 1.25;
    &-title {font-size: 1.25rem; font-weight: 700; margin-bottom: 12px; letter-spacing: .45px; transition: all 300ms ease;}
    &-info {font-size: .875rem; font-weight: 300; letter-spacing: .25px; }
  }
}

.pagination {display: flex; justify-content: center; padding: 25px 0;
  &__button:hover {background: #114b02;}
  &__button.active:hover {background: $green; cursor: auto;}
  &__button {color: #fff; text-decoration: none; background-color: $green; width: 60px; height: 60px; line-height: 60px; text-align: center; margin: 0 10px; font-size: 1.25rem; font-weight: 300;
    &--dots {background: $border; color: #000;}
    &--dots:hover {background: $border;}
  }
}


.media {
  &__slider {position: relative; z-index: 10; margin: 50px 64px 0;}
  &__slide { border: 10px solid transparent; transition: all 200ms ease;}
  &__slide:hover {border: 10px solid $green; margin: 0;}
  &__video { margin: 15px; position: relative; border: 1px solid $border;
    &-wrap {display: flex; padding: 0 60px;}
    img {width: 360px; height: 200px; object-fit: cover; font-family: 'object-fit: cover';}
  }
  &__video:after {content: ''; display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: $green; opacity: 0; z-index: 10; transition: all 300ms ease;}
  &__video:hover:after {opacity: 0.6;}
  &__video:hover &__play {opacity: 1;}
  &__play {position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: flex; justify-content: center; align-items: center; opacity: 0; z-index: 20; transition: all 300ms ease;
    svg {fill: #fff;}
  }
  &__title {font-size: 1.5rem; font-weight: 300; letter-spacing: 2.95px; color: $font; text-transform: uppercase; }
  &__contact {display: flex; flex-direction: column; align-items: center; width: 50%;padding: 10.5px 0; margin: 0 15px; border: 1px solid $border; background: #fff;
    &-wrap {padding: 65px 60px 100px; display: flex;}
    &-title {margin: 27px 0;}
  }
  &__social { display: flex; align-items: center; background: $green; padding: 6.5px; margin: 0 18px; border-radius: 2px; transition: all 300ms ease;
    &-wrap {display: flex; margin-bottom: 27px;}
    svg {fill: #fff;}
  }
  &__social:hover {background: #000;}
  &__personal { display: flex; flex-direction: column; align-items: flex-end;
    &-wrap {flex-direction: row; align-items: normal; justify-content: center;}
    &-title {margin: 27px -3px 8px 0;}
    &-facebook {font-size: 1.25rem; color: $font; text-decoration: none; letter-spacing: .5px; margin-bottom: 8px;}
    &-phone {font-size: 1.625rem; color: $green; text-decoration: none; font-weight: 700; letter-spacing: .5px;}
  }
  &__photo img {margin: 24px 0 0 39px;}
}
.call-popup {padding: 0;}
.contact-form { background: #f9f9f9; width: 640px; padding-bottom: 60px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; text-align: center;
  &-title {font-size: 1.5rem; font-weight: 300; letter-spacing: 2.4px; padding: 30px 0;}
  &-item {position: relative;}
  &-item-input {padding: 15px 0;}
  input {width: 450px; background: #fff; color: #999999; padding: 15px; border: none; border-bottom: 1px solid #c7c7c7; text-align: center;}
  input::placeholder {color: #999999; opacity: 1; transition: all 300ms ease;}
  input:focus::placeholder {opacity: 0;}
  .contact-submit {margin-top: 60px; border: none;}
  .form_input {display: flex; flex-direction: column; align-items: center;}
  .errorText {color: #cc0000; padding: 5px 0; position: absolute; bottom: -12px;}
}
.fancybox-close-small:after {background: transparent; font-size: 30px; color: #cc0000;}
.map-popup { display: flex; flex-direction: column; align-items: center; width: 510px; padding: 0 35px; border: 1px solid $border; margin: 0 auto; color: $font; font-weight: 300; background: #fff;
  &__title {display: flex; justify-content: space-between; align-items: center; width: 100%; font-size: 1.5rem; letter-spacing: 2.4px; padding: 35px 0;
    .land-name {font-size: 1.5rem; font-weight: 300; text-transform: uppercase; margin: 0;}
  }
  &__desc {margin-bottom: 35px;}
  &__img-wrap {display: flex; flex-wrap: wrap; margin-left: 7px;}
  &__img {margin-bottom: 7px; margin-right: 7px; width: 100px; height: 100px;
    img {width: 100%; height: 100%;}
  }
  &__btn {margin: 25px auto 35px;}
}
.partner-popup {display: flex; flex-direction: column; align-items: center; width: 320px; padding: 30px; border: 1px solid $border; color: $font;
  &__logo {text-align: center;}
  &__title {font-weight: 700; padding: 20px 0;}
  &__desc {font-size: .937rem; line-height: 1.2;}
  &__link {display: block; padding-top: 20px; color: $font; }
  &--hover {display: none; position: absolute; top: 0; left: -1px; z-index: 100; background: #fff; align-items: flex-start; text-align: left;
    .partner-popup__logo {align-self: center;}
  }
}

.blog-popup {display: flex; flex-direction: column; color: $font; padding: 0 30px; max-width: 1280px; max-height: 712px;
  &__title {font-size: 1.625rem; font-weight: 700; letter-spacing: .8px; text-align: center; margin: 24px;}
  &__box {display: flex; padding-bottom: 24px;
    .blog-popup__desc {width: 50%;}
  }
  &__img {width: 50%;
    img {width: 100%;}
  }
  &__desc {padding: 0 25px;}
  &__info { color: #5f6d8a; margin-bottom: 20px; font-weight: 300; letter-spacing: .5px; line-height: 1.2;
    &-title {font-size: 1.25rem; font-weight: 700; margin-bottom: 10px;}
  }
}

.footer {background: #363636; z-index: 20;
  &__content {display: flex; justify-content: space-between; align-items: center; padding: 17px 0;
    svg {width: 67px; height: 49px;}
  }
  &__copyright {display: flex; flex-direction: column; align-items: flex-end; font-size: .75rem; font-weight: 300; letter-spacing: 2.6px; line-height: 1.2; color: #fff;}
}

.slick-prev:before, .slick-next:before {content: ''; border: 3px solid #999; display: block; width: 20px; height: 20px; font-size: 0; transform: rotate(315deg); transform-origin: 0 0; opacity: .4;
}
.slick-prev:before {border-bottom: none; border-right: none;}
.slick-next:before {border-top: none; border-left: none;}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {border-color: $green;}


@media (min-width: 1840px) {
  .header {
    &__logo {position: absolute;}
    &__phone {position: absolute; right: 0;}
  }
}