<!-- HEADER -->
<header>
    <section>
        <div class="section__decor-wrap">
            <div class="section__decor-horizon"></div>
            <div class="section__decor">
                <div class="section__decor-line"></div>
                <div class="section__decor-line"></div>
                <div class="section__decor-line"></div>
                <div class="section__decor-line"></div>
                <div class="section__decor-line"></div>
            </div>
        </div>
        <div class="header">
            <div class="header__logo">
                <a href="#main" class="anchor">
                    <svg width="17" height="17">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>
            <nav class="header__nav">
                <a href="#map" class="header__nav-list anchor">Карта</a>
                <a href="#about" class="header__nav-list anchor">Про Нас</a>
                <a href="#blog" class="header__nav-list anchor">Блог</a>
                <a href="#partner" class="header__nav-list anchor">Партнерство</a>
                <a href="#media" class="header__nav-list anchor">Медіа</a>
            </nav>
            <a href="tel:+380682885647" class="header__phone">
                0682885647
            </a>
        </div>
    </section>

</header>
<!-- /HEADER -->

