<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">Дякуємо за заявку!</div>
                <div class="call-subtitle">Ми зателефонуємо Вам, найблищим часом!</div>
            </div>
        </div>
    </div>
    <!-- partner-popup -->
    <div id="call-popup" class="call-popup">
        <form action="ajax.php" id="contact-form" name="" class="contact-form">
            <div class="contact-form-title">
                <h2>Стати партнером</h2>
            </div>
            <div class="contact-form-row cfix">
                <input class="input-hidden" type="text" name="" autofocus value=""
                       placeholder="">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" autocomplete="off" value=""
                                   placeholder="Ваше Прізвище та ім'я">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input class="tel-mask" type="text" name="contact_tel" autocomplete="off" value="" required="required"
                                   placeholder="Ваш номер телефону">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input id="contact_email" type="email" name="contact_email" autocomplete="off" value=""
                                   placeholder="Ваша пошта">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit btn btn--green">
                        <span>Відправити</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- partner-info popup -->
    <div class="partner-popup" id="partner-popup">
        <div class="partner-popup__logo">
            <svg width="125" height="84">
                <use xlink:href="#veloman"></use>
            </svg>
        </div>
        <div class="partner-popup__title">Салон-магазин <br> «Веломан Экстрим»</div>
        <div class="partner-popup__desc">Опыт работы в велобизнесе 11 лет. Веломан-экстрим специализируется на продаже
            велосипедов различных ценовых категорий и направлений, комплектующих и велоаксессуаров. Товары в магазине
            соответствуют постоянно меняющимся требованиям покупателей, а также пополнением широкого ассортимента
            велотоваров.
        </div>
        <a href="https://veloman-extreme.com.ua/" class="partner-popup__link">https://veloman-extreme.com.ua/</a>
    </div>

    <!-- blog-popup -->
    <div class="blog-popup" id="blog-popup">
        <div class="blog-popup__title">
            Подорож до Греції: 11 корисних порад, які варто знати
        </div>
        <div class="blog-popup__box">
            <div class="blog-popup__img">
                <img src="./images/blog/blog-photo.jpg" alt="photo">
            </div>
            <div class="blog-popup__desc">
                <div class="blog-popup__info">Попри те, що останніми роками Греція фігурує в негативних новинах
                    (економічні проблеми, криза біженців), є безліч причин, щоб її відвідати. Прекрасні пляжі, дивовижні
                    гірські пейзажі, смачна їжа і теплий прийом – лише декілька з них. Подорож до Греції не залишить
                    байдужим навіть найвимогливішого туриста.
                    <br>
                    <br>
                    Ділимося з вами простими й корисними порадами, які зроблять
                    перебування в цій чудовій країні комфортним і приємним.
                </div>
                <div class="blog-popup__info-title">1. Обирайте різноманітність</div>
                <div class="blog-popup__info">Краще обирати житло й місця для харчування самостійно. Курортні пакети,
                    особливо все включено, приваблюють дешевими цінами, проте в Греції ви багато не потратите.
                    Економічна криза привела до того, що більшість власників вілл, пансіонів та міні-готелів пропонують
                    дуже вигідні варіанти проживання. Ви ж не хочете їсти одноманітний “курортний набір” від all
                    inclusive щодня, коли поруч є шикарний вибір автентичних таверн?
                    <br>
                    <br>
                    Не ведіться на стереотип, що Греція цікава виключно островами. На материку є багато приголомшливих
                    місць, від вражаючого гірського хребта Пінда на півночі до золотих пляжів західного Пелопоннесу.
                    Саме тут знаходиться найбільша кількість археологічних об’єктів.
                </div>
            </div>
        </div>
        <div class="blog-popup__desc">
            <div class="blog-popup__info-title">2. Уникайте мандрівки в розпал сезону</div>
            <div class="blog-popup__info">Радимо не вирушати до Греції в пік сезону – з липня до кінця серпня. У цей
                період погода спекотна, ціни високі, пляжі і пороми переповнені, тому що самі греки у відпустках.
                <br>
                <br>
                У травній червні можна помилуватися дивовижною флорою та насолодитися свіжістю прохолодних ночей.
                Вересень і початок жовтня пропонують золоті дні
                й по-літньому тепле море. Вибір за вами?
                <br>
                <br>
                Не ведіться на стереотип, що Греція цікава виключно островами. На материку є багато приголомшливих
                місць, від вражаючого гірського хребта Пінда на півночі до золотих пляжів західного Пелопоннесу. Саме
                тут знаходиться найбільша кількість археологічних об’єктів.
                <br>
                Подорожувати материком найкраще зеленими автобусами KTEL, які здійснюють поїздки практично в усі міста і
                села.
            </div>
        </div>
        <div class="blog-popup__desc">
            <div class="blog-popup__info-title">2. Уникайте мандрівки в розпал сезону</div>
            <div class="blog-popup__info">Радимо не вирушати до Греції в пік сезону – з липня до кінця серпня. У цей
                період погода спекотна, ціни високі, пляжі і пороми переповнені, тому що самі греки у відпустках.
                <br>
                <br>
                У травній червні можна помилуватися дивовижною флорою та насолодитися свіжістю прохолодних ночей.
                Вересень і початок жовтня пропонують золоті дні
                й по-літньому тепле море. Вибір за вами?
                <br>
                <br>
                Не ведіться на стереотип, що Греція цікава виключно островами. На материку є багато приголомшливих
                місць, від вражаючого гірського хребта Пінда на півночі до золотих пляжів західного Пелопоннесу. Саме
                тут знаходиться найбільша кількість археологічних об’єктів.
                <br>
                Подорожувати материком найкраще зеленими автобусами KTEL, які здійснюють поїздки практично в усі міста і
                села.
            </div>
        </div>
        <div class="blog-popup__desc">
            <div class="blog-popup__info-title">2. Уникайте мандрівки в розпал сезону</div>
            <div class="blog-popup__info">Радимо не вирушати до Греції в пік сезону – з липня до кінця серпня. У цей
                період погода спекотна, ціни високі, пляжі і пороми переповнені, тому що самі греки у відпустках.
                <br>
                <br>
                У травній червні можна помилуватися дивовижною флорою та насолодитися свіжістю прохолодних ночей.
                Вересень і початок жовтня пропонують золоті дні
                й по-літньому тепле море. Вибір за вами?
                <br>
                <br>
                Не ведіться на стереотип, що Греція цікава виключно островами. На материку є багато приголомшливих
                місць, від вражаючого гірського хребта Пінда на півночі до золотих пляжів західного Пелопоннесу. Саме
                тут знаходиться найбільша кількість археологічних об’єктів.
                <br>
                Подорожувати материком найкраще зеленими автобусами KTEL, які здійснюють поїздки практично в усі міста і
                села.
            </div>
        </div>
    </div>

    <!-- country-popup -->
    <div class="map-popup" id="finland-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Фінляднія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Фінляндія славиться своїми шикарними краєвидами і захоплюючими дух просторами. Щоб краще познайомитися з
            країною, вирушайте для початку в Гельсінкі.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/land-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/land-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 8-->
    <div class="map-popup" id="poland-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Польща</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Друга за відвідуваністю нами країна. Були в Польщі на велосипедах 5 разів. Заможна і затишна країна з розвиненою велоінфраструктурою. Проїхали велошляхом GreenVelo більше 1000 км.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/poland/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/poland/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/poland/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/poland/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/poland/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/poland/img-6.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 6-->
    <div class="map-popup" id="austria-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Австрія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Австрія просто вразила своєю чистотою і кількістю відновлювальної енергетики. На кожному кроці сонячні станції і вітряки. Особливої пригоди підкинули нам Альпи, через які ми проривалися 2 дні. Це було дуже важко, але водночас і дуже мальовничо.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/austria/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/austria/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/austria/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/austria/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/austria/img-5.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 5-->
    <div class="map-popup" id="lithuania-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Литва</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Цікава країна, в котрій ледь не 30% всього населення проживає в столиці Вільнюсі. Решта країни займається виробництвом молока і м’яса, економіка загалом не відрізняється різноманіттям. Цікава суміш.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/lithuania/img-6.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 6-->
    <div class="map-popup" id="ukraine-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Україна</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Рідною Україною проїхали декілька тисяч кілометрів, найдовше - 11 днів і 1200 км підряд.  Безкрайні пшеничні поля, тільки в нас є такі поля, поля, засіяни врожаєм поля…
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/ukraine/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="czech_republic-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Чехія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Ще одна “бідніша” Польща. Їздили Чехією під час велопаломництва в Рим в 2013 році. Особливо її не бачили, бо проїхали за 2 дні, з чого запам’яталося, що нас зупинили чеські копи і попросили не їхати автобаном (хоча це ніякий не автобан був). Треба відвідати цю країну більш детально
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/czech_republic/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="latvia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Латвія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Латвія в розрізі ВДЕ знаходиться на 3-му місці в ЄС.  Використання зеленої енергетики Латвії досягло рекордних 51%!
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/latvia/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="estonia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Естонія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/estonia/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="sweden-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Швеція</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            У 2015 році урядом Швеції було прийнято за мету стати першою країною, яка відмовиться від викопного палива, а до 2030 р. Швеція повинна мати автомобільний парк, який не залежить від викопних видів палива
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/sweden/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="norway-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Норвегія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/norway/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/norway/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="denmark-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Данія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            У 2011 року уряд Данії ратифікував Енергетичну стратегію 2050, яка представила пропозиції для досягнення довгострокової мети – національної незалежності від вугілля, нафти і газу до 2050 році.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/denmark/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="germany-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Німеччина</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Енергетична Стратегія Німеччини до 2050 року передбачає повну відмову від використання атомної енергії до 2027 року. Реалізація цього плану почалася із зупинення 8 найстаріших АЕС. Відновлювані джерела енергії були визначені Стратегією як основна складова структури енергопостачання країни у майбутній перспективі.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/germany/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/germany/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="netherlands-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Нідерланди</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/netherlands/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="belgium-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Бельгія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/belgium/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="france-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Франція</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/france/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/france/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="luxembourg-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Люксембург</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/luxembourg/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="switzerland-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Швейцарія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/switzerland/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="liechtenstein-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Ліхтенштейн</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/liechtenstein/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--green 0-->
    <div class="map-popup" id="slovakia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Словаччина</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Кажуть у Словаччині в кожній хаті є велосипед, а по країні досить розвинена велоінфраструктура. Ми були в цій країні лише декілька днів, склалось враження трохи біднішої Польщі. Люди привітні, хоча в Прешові в нас камінням кидались циганські діти. Треба цю країну дослідити більш ретельно.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/slovakia/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--blue 8-->
    <div class="map-popup" id="italy-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Італія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Перші враження чарівні - особливо велодоріжка з міста Тарвізіо в Удіне. Цікава архітектура, хороша велоінфраструктура. Але повсюди СМІТТЯ, дуже багато сміття, яке різко контрастує з красою ландшафтів і архітектури. Ну і Рим - він божественний.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/italy/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/italy/img-7.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--blue 7-->
    <div class="map-popup" id="hungary-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Угорщина</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Перше враження радше негативне, бо по основних автошляхах (навіть не автобанах) їздити на велосипеді не можна, через що навігатор завів нас бо-зна-де. Дуже цікава архітектура і абсолютно незрозуміла мова. Будапешт вражаючий, гарно відпочили на озері Балатон.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/hungary/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--blue 8-->
    <div class="map-popup" id="belarus-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Білорусь</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Дуже цікава країна через поєднання ідеального порядку і чистоти і совка. Були в цій країні на велосипедах 2 рази. Білоруси дуже дбають про історичну спадщину, усюди все доглянуто, гарні дороги. Але досить слабо розвинений малий бізнес і ціни досить дорогі.
        </div>
        <div class="map-popup__img-wrap">
            <a href="./images/map/belarus/img-1.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-1.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-2.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-2.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-3.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-3.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-4.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-4.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-5.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-5.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-6.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-6.jpg" alt="photo">
            </a>
            <a href="./images/map/belarus/img-7.jpg" data-fancybox="belarus" class="map-popup__img">
                <img src="./images/map/belarus/img-7.jpg" alt="photo">
            </a>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--blue 7-->
    <div class="map-popup" id="croatia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Хорватія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Безумовно одна з найгарніших країн Європи. Ми просто в неї закохались. Гори, море, відмінна інфраструктура - це все зробило в наших очах цю країну прекрасним місцем для велотуризму, надіємось ще потрапимо сюди не раз.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/croatia/img-7.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--blue 7-->
    <div class="map-popup" id="montenegro-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Чорногорія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Начитались в інтернетах, що це дуже гарна країна, але, відверто кажучи, були розчаровані. Трохи пошарпана, усюді російська мова, навіть на бігбордах. Чистоти і порядку, до якого ми звикли до прикладу в Хорватії - тут і не пахне.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/montenergo/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 8-->
    <div class="map-popup" id="bosnia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Боснія і Герцоговина</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Досить бідна, але надзвичайно душевна країна з щирими людьми. Приїхали сюди в рамках велопаломництва до Меджугор’я - всесвітньо відомого місця, де малим дітям об’явилась Матір Божа. Гірська гарна країна з чудовими краєвидами і добрими людьми.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bosnia/img-6.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 6-->
    <div class="map-popup" id="greece-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Греція</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Досить бідна, але надзвичайно душевна країна з щирими людьми. Приїхали сюди в рамках велопаломництва до Меджугор’я - всесвітньо відомого місця, де малим дітям об’явилась Матір Божа. Гірська гарна країна з чудовими краєвидами і добрими людьми.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/greece/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/greece/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 8-->
    <div class="map-popup" id="macedonia-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Македонія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Спочатку не планували тут бути, але мандруючи Албанією, побачили, що можемо зробити невеликий гак навкого Охридського озера і хоч трішки, але побачити цю країну. Зі здивуванням взнали, що у Македонії з Грецією натягнуті відносини через назву країни і з Македонії в Грецію ми не заїдемо, тоді об’їхавши озеро повернулись назад в Албанію. Детально Македонію ми не побачили.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/macedonia/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 8-->
    <div class="map-popup" id="albania-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Албанія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Надзвичайно колоритна і недооцінена країна. Чимось схожа на Україну. Така собі Азія в центрі Європи, чути співи імамів в мечетах, гарні краєвиди в гірській частині, відсутність залізниці, як такої, бідне, але добре населення. Українець тут себе відчуває, як вдома. Ну і відносно дешево.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/albania/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/albania/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 8-->
    <div class="map-popup" id="bulgaria-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Болгарія</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            Досить “циганська” країна, в які чітко відмежовані 2 зони - курорти і вся решта. Там де курорти - чистота і порядок, вся решта - біднота і пошарпаність. Ті декілька днів, що ми тут були, нас не вразили, хоча безумовно тут є цікаві туристичні локації.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/bulgaria/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--grey 0-->
    <div class="map-popup" id="turkey-popup">
        <div class="map-popup__title">
            <h2 class="land-name">Туреччина</h2>
            <span class="land-year">2018</span>
        </div>
        <div class="map-popup__desc">
            У Туреччині були теж дуже трішки, бо проїхалися тією частиною країни, яка називається Східна Фракія. Запамятався досить суворий контроль на грецько-турецькому кордоні у супроводі озброєний автоматників, досить дорогі ціни в країні, ідеальні дороги і російськомовні турки-велосипедисти. Країна варта детального вивчення.
        </div>
        <div class="map-popup__img-wrap">
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-1.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-2.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-3.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-4.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-5.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-6.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-7.jpg" alt="photo">
            </div>
            <div class="map-popup__img">
                <img src="./images/map/turkey/img-8.jpg" alt="photo">
            </div>
        </div>
        <a href="https://www.facebook.com/greenwaysintermarium/" class="map-popup__btn btn btn--grey">Дізнатись
            більше</a>
    </div> <!--none 0-->
</div>